@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: white;
	font-family: Ubuntu;
	background-color: #000;
}
h1 {
	font-size: 350%;
}
button {
	background: none;
	font-size: 120%;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	font-size: 150%;
	cursor: pointer;
	text-align: center;
}
input {
	background: none;
	font-size: 90%;
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	text-align: center;
}
p {
	font-size: 125%;
	margin: 1px;
}
select {
	background: none;
	border: 1px solid white;
	border-radius: 3px;
	text-align: center;
	color: white;
}
option {
	color: black;
	background: none;
}
.sec-start {
	display: inline-block;
}
.save {
	border: 2px solid white;
	padding: 10px;
	border-radius: 5px;
	font-size: 150%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 1%;
}
#sec-edit, .select-tab {
	display: none;
}
.panel-selection {
	cursor: pointer;
	color: #bfbfbf;
	font-size: 150%;
}
.panel-select {
	display: inline-block;
	margin-bottom: 5%;
}
.select-tab {
	margin-top: 3%;
}
#action-panel {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 5%;
}
#exit {
	font-size: 250%;
	border: 3px solid white;
	border-radius: 4px;
}
.panel {
	display: inline-block;
	border: 1px solid #afafaf;
	border-radius: 4px;
	font-size: 110%;
	padding: 5px;
	transition: border 250ms;
	margin-left: 1%;
	margin-bottom: 1%;
	float: left;
}
.panel:hover {
	border: 1px solid #fff;
}
.box {
	float: right;
}
.stats-box {
	float: right;
	width: 50px !important;
}
#xcoord, #ycoord {
	width: 60px;
	margin-left: 2px;
}
#zcoord {
	float: right;
	width: 25px;
}
.inmate-card {
	float: left;
	border: 1px solid white;
	border-radius: 3px;
	padding: 3px;
	margin-right: 1%;
	margin-bottom: 1%;
}
.inmate-stats-box {
	width: 50px !important;
	font-size: 80%;
	float: right;
}
.inmate-name-box, .inmate-label {
	font-size: 80%;
}
.inmate-card-row {
	/* float: center; */
	margin-top: 1%;
	margin-bottom: 1%;
}
.job-card {
	display: inline-block;
	text-align: center;
	border: 2px solid white;
	border-radius: 3px;
	padding: 1%;
	margin-bottom: 2%;
	margin-right: 2%;
}
.job-label, .job-selector {
	font-size: 125%;
}
#your-desk {
	display: inline-block;
	font-size: 120%;
	padding-bottom: 1px;
	border-bottom: 2px solid white;
	margin: 1%;
}
#desk-panel {
	box-sizing: border-box;
	display: inline-block;
	border: 2px solid white;
	border-radius: 4px;
	padding: 5px;
	padding-top: 1vw;
	/* Positioning */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
}
.desk-entry {
	float: left;
	margin-right: 1vw;
	margin-bottom: 1vw;
}
.desk-label {
	float: left;
}
.desk-dropdown {
	float: right;
}