@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: white;
	font-family: Ubuntu;
	background-color: #000;
}
h1 {
	font-size: 350%;
}
.sec-start {
	display: inline-block;
}
.save {
	border: 3px solid white;
	padding: 10px;
	border-radius: 5px;
	font-size: 120%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 1%;
}